stages:
  - build
  - test
  - deploy

image: docker:25

services:
  - docker:25-dind

variables:
  DOCKER_DRIVER: overlay2
  COMPOSE_PROJECT_NAME: CDN

before_script:
  - docker info
  - docker compose version

build:
  stage: build
  script:
    - docker compose build

test:
  stage: test
  script:
    - ./run_tests.sh

deploy:
  stage: deploy
  environment:
    name: production
  only:
    - main
  tags:
    - production
  script:
    - ./deploy.sh